<<<<<<< HEAD
html{
  background-image: url(https://www.dropbox.com/home/sites/CV%20Dayvid%20astua/images?preview=site.jpeg);
=======
*{
  margin: 0;
  padding: 0;
}

.grid{
  display: grid;
  grid-template-columns: 8.33% auto 8.33%;
  grid-template-rows:16.5% 16.5% 34% 33% ;
  grid-template-areas:
  "topnav topnav topnav"
  ". . menu"
  ". card ."
  ". . .";


}

html{
  background-color: lightgrey;
  background-image: url(leather-nunchuck.png);
  width: 100%;
  height: auto;
  background-position: fixed;

}
.topnav {
  background:rgba(0,0,0,0.9);
    overflow: hidden;
    background-size: 100% 100%;
    grid-area: topnav;
  }

h1{
  color: white;
  text-align: center;
  text-shadow: 3px 1.5px #383838;
  font-family: sans-serif;
  font-size: 2rem;
}


.card{
  grid-area: card;
  position:center;
  background-color: white;
  box-shadow: 0 0 12px 0 rgba(0,0,0,1), 0 10px 30px 0 rgba(0,0,0,1);
  border-radius: 10px
}
h2{
  font-family: sans-serif;
  text-align: center;
  font-size: 1.75rem;

}

p{
  color: grey;
  text-align: center;
font-family: sans-serif;
font-size: 1.15rem;
}



a{
  color: white;
>>>>>>> 6b298ee6aa3b99bd70616fba53e2f0b94ecc4a12
}
