html{
  background-color: lightgrey;
  background-image: url(leather-nunchuck.png);
  width: 100%;
  height: auto;
  background-position: fixed;

}
.topnav {
  background:rgba(0,0,0,0.8);
    overflow: hidden;
    width: 75.01%;
    margin-top: 1%;
    border-radius: 10px;
    margin: auto;


  }
h1{
  color: white;
  text-align: center;
  text-shadow: 3px 1.5px #383838;
  font-family: sans-serif;
  font-size: 3rem;
}


.card{
  width: 66.66%;
  margin: auto;
  position:center;
  background-color: white;
  box-shadow: 0 0 12px 0 rgba(0,0,0,1), 0 10px 30px 0 rgba(0,0,0,1);
  border-radius: 10px
}
h2{
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;

}

p{
  color: grey;
  text-align: center;
font-family: sans-serif;
font-size: 1.5rem;
}
.blur{
  background: -webkit-filter: blur(5px);
  background: filter: blur(5px);
}

a{
  color: white;
}
